<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
    <a class="navbar-brand" href="/">Instagram Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="">Add Post</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/register">registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts/login">login</a>
          </li>
        {% endif %}

      </ul>
      {% if user.is_authenticated %}
      {% endif %}
    </div>
  </nav>
  <!--/.Navbar -->